<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="game">
                <div id="textbox">
                    <h3 style="float: left; background-color: rgb(96, 159, 218); margin: 10px; padding: 15px; border: thick double black; font-size: 25px; color: white;">Score {{p1.name}}: <span class="score">{{p1.score}}</span></h3>
                    <h3 style="float: right; background-color: rgb(218, 81, 81); margin: 10px; padding: 15px; border: thick double black; font-size: 25px; color: white;">Score {{p2.name}}: <span class="score">{{p2.score}}</span></h3>
                </div>
                
                <h1 class="text-center">C'est au tour du joueur <span class="who">{{whoPlayed}} </span>!</h1>

                <hr>

                

                <div class="d-flex justify-content-center">
                    <mat-grid-list cols="3" rowHeight="1:1" style="width: 100%;">
                        <mat-grid-tile *ngFor="let case of cases; let i = index" (click)=playerClick(i) style="border: 5px solid rgb(153, 189, 167); border-radius: 5px; background-color: rgb(218, 224, 203);">
                            <app-case-morpion [case]="case"></app-case-morpion>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>

                <div *ngIf="gameOver" class="col-md-12 resultModal">
                    <br>
                    <hr>
                    <div class="d-flex justify-content-center">
                        <div class="result">
                            <h3 class="text-center">Partie terminée !</h3>
                            <h4 class="fs-4">{{messageResult}}</h4>
                            <div class="d-flex justify-content-center">
                                <button class="btn btn-info" (click)=restartGame()>Nouvelle partie</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>