<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  /* Rajout*/

  .espace {
    flex: 1.3;
  }

  a p {
    color: white;
    font-size: 25px;
  }

  p {
    background-color: wheat;
    margin: 25px;
    padding: 15px;
    border: thick double #27230d;
    font-size: 18px;
  }

  h1 {
    background-color: rgb(207, 198, 181);
    margin: 10px;
    padding: 15px;
    border: thick double black;
  }

  .petitT p {
    background-color: rgb(96, 90, 99);
    margin: 2px;
    padding: 2px;
    border: thick double white;
    font-size: 14px;
    color: white;
  }

  hr {
    height: 3px;
    color: red;
    background-color: red;
  }


  /* Fin rajout*/
</style>

<p>
  Bienvenue sur notre projet de morpion. Ce projet a été à l'initiative d'un projet à faire lors d'un cours d'angular à
  notre iut. Nous avons donc choisis un morpion. Notre groupe se compose de deux élèves, Munier Kallan et Robert
  Florian. En espérant que vous allez vous amusez !
</p>

<h1>Le morpion, qu'est-ce que c'est?</h1>

<p>
  Le morpion est un jeu de réflexion dans lequel deux joueurs s'affrontent. Le but étant de créer un alignement de trois
  formes sur une ligne (diagonale également). Le jeu est généralement fait sur papier mais il peut également être joué
  via numérique comme ici par ordinateur. Le plus généralement des croix et des ronds sont utilisés afin de différencier
  les deux différents joueurs.
</p>

<h1>Les règles</h1>

<p>
  Pour les règles, le jeu se joue tour par tout, un joueur après l'autre en metant un symbole après l'autre. Le premier
  qui arriver à aligner le nombre de symbole définit selon la taille du plateau de jeu (3 dans notre cas) gagne. Pour
  les symboles ils doivent s'aligner à la suite que ce soit horizontalement, verticalement ou bien diagonalement.
  Evidemment celui qui commence à un avantage il sera donc possible de choisir aléatoirement qui commence ou bieen de
  définiri manuellement qui commence.

</p>

<h1>Exemple : </h1>

<img alt="Morpion" src="http://img.over-blog-kiwi.com/1/53/91/05/20170330/ob_bed625_morpionjeu.jpg" />

<div class="petitT">
  <p>Ici le joueur avec les symboles ronds a gagné</p>
</div>