<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    align-items: center;
  }

  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  button {
    margin-left: 50px;
  }

  .formulaire {
    align-items: center;
    margin-left: 33%;
    margin-right: auto;
  }

  .registerL {
    margin-top: 15px;
  }
</style>

<body>
  <div class="formulaire">
    <form class="example-form" *ngIf="loading" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Nom</mat-label>
              <input matInput formControlName='name'>
              <mat-error>Veuillez choisir un nom à votre joueur.</mat-error>
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Numéro du joueur</mat-label>
              <mat-select formControlName='player'>
                <mat-option value="player1">N°1</mat-option>
                <mat-option value="player2">N°2</mat-option>
              </mat-select>
              <mat-error>Veuillez choisir un numéro de joueur.</mat-error>
            </mat-form-field>
          </td>
        </tr>

      </table>
      <button type="submit" mat-raised-button color="primary">Envoyer</button>
    </form>
  </div>
</body>